.nav {
    background-color: white;
    padding: 5px 10px 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    .logo {
        width: 150px;
    }

    .nav__logo {
        margin-right: auto;
    }

    .nav__reviews, .nav__login {
        text-decoration: none;
        color: black;
    }

    .nav__reviews:hover, .nav__login:hover {
        color: rgba(0, 71, 133);
    }

    /* .nav__login {

    } */

    /* &__title {

    }

    &__login {

    }

    &__register {

    } */
}
