.reviewPageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewPage {
    width: 800px;
    padding: 20px;
    border-color: rgba(1, 121, 76, 0.16);
    box-shadow: 0 1px 2px -2px rgba(1, 121, 76, 0.16), 0 3px 6px 0 rgba(1, 121, 76, 0.12), 0 5px 12px 4px rgba(1, 121, 76, 0.09);
}

.reviewPage > .ant-card-head {
    font-size: 21px;
}

.reviewPage__company {
    color: rgba(1, 121, 76);
    font-size: large;
}

.reviewPage__tags {
    margin-bottom: 10px;
}

.reviewPage__grade {
    color: rgba(0, 71, 133);
    font-size: large;
}

.reviewPage__date {
    font-size: medium;
    margin-right: 15px;
}

.reviewPage__companyGradeContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewPage__edit:hover {
    color: #178559 !important;
    border-color: #178559 !important;
}

.blueDivider {
    color: rgba(0, 71, 133) !important;
    font-size: 18px !important;
}

.greenDivider {
    color: rgba(1, 121, 76) !important;
    font-size: 18px !important;
}